*{margin: 0px;padding: 0px;}
		.container-fluid{margin: 0px auto;position: relative;}
		.container{width: 1200px;margin: 0px auto;position: relative;}
		.style-red{color: red;}
		ul,ol,li{list-style: none;}
		.l{float: left;}
		.r{float: right;}
		.clear::after{content: '';display: block;clear: both;}
		a{text-decoration: none;}
		img{display: block;}
		
		/* css nav */
		#nav{height: 100px;box-sizing: border-box;background: #ffffff;}
		#nav img{margin-top: 20px;}
		#nav ul{width: 976px;height: 100%;display: flex;justify-content: space-evenly;align-items: center;}
		#nav ul>li{flex: 1;width: 200px;float: left;text-align: center;border-right: 1px gray solid;line-height:1em; padding: 5px 0px;}
		#nav ul>li a{color:#666666;}
		#nav ul>li::after{content: '';width: 100px;height: 5px;background: #B81C22;position: absolute;bottom: -8px;left: 0px;display: none;}
		/* #nav ul>li:hover {border-bottom:5px #b81c22 solid;} */
		#nav ul>li:hover:after{display: block;}
		#nav ul li a:hover{color: #b81c22;}
		#nav ul>li{position: relative;}
#slide{width: 76px;height: 280px;border: 1px red solid;position: fixed;right: 10px;bottom:100px;}
		#slide ul{width: 100%;height: 100%;display: flex;flex-direction: column;}
		#slide ul li{flex: 1;border-bottom: 1px red solid;text-align: center;}
		#slide ul li:hover{background: red;}
		#slide ul li:hover a{color: #FFFFFF;}
		#slide ul li.toTop{background-color: rgba(255,0,0,0.3);}
		#slide ul li.code{position: relative;}
		#slide ul li.code img{position: absolute;top:-100px;left:-200px;display: none;width: 200px;height: 200px;}
		#slide ul li a{color: #666666;font-size: 12px;}